@import 'reset';
@import 'flex';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'fonts';
$fonts: 'Raleway',
'Helvetica',
sans-serif;
html,
body {
    font-family: $fonts;
    font-size: 62.5%;
}

h1 {
    font-size: 5rem;
    color: #ffffff;
}

#base-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
}

#main-wrapper {
    @extend #base-wrapper;
    background-color: #000000;
}

#second-page-wrapper {
    @include flexbox;
    flex-direction: column;
    align-items: center;
}

.large-header {
    font-family: 'Ostrich Sans';
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    // font-family: 'Libre Baskerville', serif;
    font-size: 6rem;
    color: #fff;
    // text-transform: uppercase;
}

.body-text {
    font-family: 'Ostrich Sans Rounded', 'Source Sans Pro', serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: #fff;
    line-height: 6vh;
}

#scene {
    @include flexbox;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-image {
    height: 100%;
    width: 50%;
    background-clip: border-box;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#goku {
    max-width: 100%;
    max-height: 100%;
    // background-clip: border-box;
    // background-origin: border-box;
    // background-size: cover;
    // background-repeat: no-repeat;
}

//menu css
a {
    text-decoration: none;
}


/* This class is added on scroll */

.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

body {
    color: #fff;
    font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
    font-size: 18px;
    text-align: center;
}


/* Navigation Settings */

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #fff;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

section {
    height: 100vh;
}


/* Screens Settings */

#screen-1 {
    background: #43b29d;
}

#screen-2 {
    background: #e1793d;
}

// magic time settings
.magictime {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

//title effects
.title-container {
    margin-top: 0;
    padding-left: 1.2vw;
    padding-top: 2px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.title-container .titles {
    line-height: 40px;
    margin: 0;
}

.visible{
    @include flexbox;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
    height:40px;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    12%,
    100% {
        transform: translateY(0);
    }
    17%,
    29% {
        transform: translateY(-25%);
    }
    34%,
    46% {
        transform: translateY(-50%);
    }
    51%,
    63% {
        transform: translateY(-75%);
    }
    68%,
    80% {
        transform: translateY(-50%);
    }
    85%,
    97% {
        transform: translateY(-25%);
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    12%,
    100% {
        transform: translateY(0);
    }
    17%,
    29% {
        transform: translateY(-25%);
    }
    34%,
    46% {
        transform: translateY(-50%);
    }
    51%,
    63% {
        transform: translateY(-75%);
    }
    68%,
    80% {
        transform: translateY(-50%);
    }
    85%,
    97% {
        transform: translateY(-25%);
    }
}

#first-header{
    padding-top: 8vh;
}

//first section css
#left-wrapper, #right-wrapper{
    @include flexbox;
    width: 50%;
}

#left-wrapper{
    height: 75%;
}

#image-container{
    @include flexbox;
    height: 100%;
    width: 60%;

    background-size: cover;

    max-height: 100%;
    max-width: 100%;
    background-image: url('../images/42.jpg');
//http://bennettfeely.com/clippy/
    -webkit-clip-path: polygon(0 0, 100% 0, 71% 24%, 70% 38%, 70% 100%, 48% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 71% 24%, 70% 38%, 70% 100%, 48% 100%, 0 100%);

    &:before{
        width: 100%;
        height: 100%;
        content: '';
        background: transparent url('../images/pattern.png') repeat top left;
    }
}

.inception-wrapper{
    @include flexbox;
    width: 100%;
    flex-direction: row;
}

.overlay{
    @extend #base-wrapper;
    position: absolute;
    // background-color: #ff0000;
}
// menu styling
