@import 'flex';

#screen-landing{
	width: 100%;
	height: 100%;
	@include flexbox;

	z-index: 10;
	background: #000;

	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: url('../../images/abstract.gif');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	/* background: url('../../images/triangle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 50%; */
	/* &:after {
		content: '';
		@include flexbox;
		width: 100%;
		height: 100%;
		background: #000;
	} */
}

.landing{
	&--main-title{
		@include flexbox;
		flex-direction: column;
		align-items: flex-start;
		font-family: 'Didot', serif;
		font-size: 8rem;
		color: #fff;
		font-weight: 900;

		/* background: url('../../images/triangle.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position-x: 50%;
		background-attachment: fixed;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: invert(1); */
	}
}

.light-weight{
	font-weight: 100;
}

.heavy-weight{
	font-weight: 500;
}